# Node / Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env

# Python / Backend
backend/venv/
backend/__pycache__/
backend/.env
*.pyc

# OS / Others
.DS_Store
Thumbs.db
CI_CD_GUIDE.md
